
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Teams Tracked</title>
</head>

<body>

    <form action = "/trackteams" method = "POST">
	<h1>Team Tracker</h1>
	<div>
        <table>
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Record</th>
                    <th>Sport</th>
                </tr>
            </thead>
            <tbody>
                <% teamData.forEach(team => { %>
                    <tr>
                        <td><%= team.name %></td>
                        <td><%= team.record %></td>
                        <td><%= team.sport %></td>
                    </tr>
                <% }) %>


            </tbody>
        </table>
		

		<hr>
	</div>
	<hr>
	<footer>
		<div>
			<a href="/">Homepage</a>
		</div>
	</footer>
</form>
</body>


</html>